 .b-no{
        border:none;
     }
     .wid{
        width:300px;
        height:300px;
     }
     .border{
         border:2px solid gray;
     }
     .display{
        display:inline-block;
     }
     .widt{
        width:300px;
        height:600px;
     }
     .gray{
        color:gray;
     }
     .mar{
        margin:10px 25px;
     }
     .color-w{
        color:white;
     }
     .bg-gray{
         background:gray;
     }
     .pad{
         padding:10px 60px;
     }
     .size-16{
        font-size:16;
     }
     .margin{
        
        display:flex;
        align-items:center;
        justify-content:center;
     }
     .bold{
        font-weight:600px;
     }
     .size-25{
        font-size:25px;
     }
     .size-20{
        font-size:20px;
     }
     .intent{
        display:flex;
        margin:20px;
     }
     .margin-r{
        margin-right:20px;
     }
